.gallery-js-wrapper,
.gallery-js-container,
.gallery-hs-overflow,
.gjs-thumb-wrapper,
.gjs-thumb-container,
.gjs-thumbnail {
	position: relative;
	overflow: hidden;
}

.gallery-js-wrapper {
	margin-bottom: 1.5em;
	width: 100%;
}

.gallery-js-container {

}

.gallery-js-overflow {
	background: #fafafa;
	max-height: 720px;
}

.gjs-image-wrapper img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
}

.gjs-thumb-wrapper {
	background: #f5f5f5;
}

.gjs-thumb-container {
	margin: 0 auto;
}

.gjs-thumbnail {
	float: left;
	width: 120px;
	height: 68px;
}

.gjs-thumbnail img {
	height: auto;
	width: 100%;
}

.gjs-thumbnail.current {

}

.gjs-arrow {
	
}