.gallery-js-wrapper,
.gallery-js-container,
.gallery-js-overflow,
.gjs-nav-container,
.gjs-thumb-wrapper,
.gjs-thumb-container,
.gjs-thumb-overflow,
.gjs-thumbnail {
	position: relative;
	overflow: hidden;
}

.gjs-arrow22 {
	-webkit-transition: all 0.20s ease;
	-moz-transition: all 0.20s ease;
	-ms-transition: all 0.20s ease;
	-o-transition: all 0.20s ease;
	transition: all 0.20s ease;
}

.gjs-arrow,
.gjs-thumbnail {
	cursor: pointer;
}

.gallery-js-wrapper {
	border: 1px solid #EEE;
	margin-bottom: 1.5em;
	width: 100%;
}

.gallery-js-container {

}

.gallery-js-overflow {
	background: #fafafa;
	max-height: 720px;
}

.gjs-image-wrapper img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
}

.gjs-thumb-wrapper {
	border-top: 1px solid #EEE;
	background: #f5f5f5;
}

.gjs-thumb-container {
	margin: 0;
	left: 0px;
}

.gjs-thumbnail {
	opacity: 0.6;
	float: left;
	width: 120px;
	height: 68px;
}

.gjs-thumbnail img {
	height: auto;
	width: 100%;
}

.gjs-thumbnail:hover {
	opacity: 0.8;
}

.gjs-thumbnail.current {
	opacity: 1;
}

.gjs-nav-container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}

.gjs-arrow {
	background: #FFF;
	height: 100%;
	opacity: 0.4;
	top: 0;
	width: 60px;
}

.gjs-arrow {
	position: absolute;
}

.gjs-arrow:hover {
	opacity: 0.6;
}

.gjs-arrow.arrow-left {
	border-right: 1px solid #EEE;
	left: 0;
}

.gjs-arrow.arrow-right {
	border-left: 1px solid #EEE;
	right: 0;
}

.gjs-link-arrow-icon {
	color: #000;
	font-size: 18px;
	height: 18px;
	left: 50%;
	line-height: 1em;
	margin-left: -9px;
	margin-top: -11px;
	position: absolute;
	top: 50%;
	width: 18px;
}